#####################################################################
# TOOLBOARD RECHTS (T1)
#####################################################################

[mcu tool_right]
serial: /dev/serial/by-path/USB-ID-RECHTS
baud: 250000
restart_method: command

[temperature_sensor tool_right_mcu]
sensor_type: temperature_mcu
sensor_mcu: tool_right
