# ============================================================================
#  STEPPER   (Reihenfolge aus M584 X0 Y1 Z2 E3:4 U5)
# ============================================================================

# ---- X  (Drive 0) ----------------------------------------------------------
[stepper_x]
step_pin: PD6              # STEP 70
dir_pin: PD11              # DIR 75   (M569 P0 S0 -> bei falscher Richtung: !PD11)
enable_pin: !PC6           # globales TMC2660-ENN (Pin 38)
microsteps: 16
rotation_distance: 40      # (200*256)/1280  (M92 X1280 @ M350 256)
full_steps_per_rotation: 200
endstop_pin: ^PC14         # END_STOP 46  (M574 X1 = X-min; ggf. ^!PC14)
position_min: -3           # M208 X-3
position_endstop: -3
position_max: 327          # M208 X327
homing_speed: 30           # homing_speed_fast 30 (slow 6)
homing_retract_dist: 5

# ---- Y  (Drive 1) ----------------------------------------------------------
[stepper_y]
step_pin: PD7             # STEP 71
dir_pin: PD12             # DIR 76   (M569 P1 S0)
enable_pin: !PC6
microsteps: 16
rotation_distance: 40      # M92 Y1280
full_steps_per_rotation: 200
endstop_pin: ^PA2          # END_STOP 02  (M574 Y1 = Y-min)
position_min: 0
position_endstop: 0
position_max: 240          # M208 Y240
homing_speed: 30

# ---- Z  (Drive 2) ----------------------------------------------------------
#  E2 homt Z zum OBEREN Endschalter (M574 Z2 = Z-max), danach Probe.
[stepper_z]
step_pin: PD8             # STEP 72
dir_pin: PD13             # DIR 77   (M569 P2 S0)
enable_pin: !PC6
microsteps: 16
rotation_distance: 4       # (200*256)/12800  (M92 Z12800; dual/single = 6400 -> 8)
full_steps_per_rotation: 200
endstop_pin: ^PD29         # END_STOP 93  (M574 Z2 = Z-max)
position_max: 240          # M208 Z240
position_min: -1
position_endstop: 240 
homing_speed: 12
# Alternative (Probe als Z-Endstop): endstop_pin: probe:z_virtual_endstop

# ---- U = DUAL CARRIAGE (rechter Schlitten / Drive 5, ONBOARD) --------------
[dual_carriage]
axis: x
step_pin: PD2             # STEP 66
dir_pin: PD28             # DIR 92   (M569 P5 S0)
enable_pin: !PC6
microsteps: 16
rotation_distance: 40      # M92 U1280
full_steps_per_rotation: 200
endstop_pin: ^PE0          # END_STOP 96 = PE0  (M574 U2 = U-max)
position_min: 35           # M208 U35
position_endstop: 355      # M208 U355
position_max: 355
