# ============================================================================
#  HEIZBETT  (Heater 0, Thermistor 0)
# ============================================================================
[heater_bed]
heater_pin: !PA19           # HEAT_ON 19 (Heater 0) ock-inverted!
sensor_type: Generic 3950        # custom (Beta 3950), siehe unten
sensor_pin: PC13           # TEMP_SENSE 45 (Thermistor 0)
min_temp: -200
max_temp: 110              # M143 H0 S115..120
control: pid               # -> PID_CALIBRATE HEATER=heater_bed TARGET=60
pid_Kp: 54.0
pid_Ki: 0.77
pid_Kd: 950.0