# ============================================================================
#  EXTRUDER
# ============================================================================

# ---- Extruder 0 (linkes Hotend, Heater H1, Drive 3) ------------------------
[extruder]
step_pin: PD5             # STEP 69
dir_pin: PA1             # DIR 01   (M569 P3 S1 -> ggf. !PA1)
enable_pin: !PC6
microsteps: 16
rotation_distance: 11.907  # (200*256)/4300  (M92 E4300) - NACHKALIBRIEREN
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: !PA20           # HEAT_ON 20 (Heater 1) ock-inverted!
sensor_type: Raise3D_E2     # custom (Beta 4138), siehe unten
sensor_pin: PC15            # TEMP_SENSE 47 (Thermistor 1)
min_temp: -200
max_temp: 350               # M143 H1 S310
#min_extrude_temp: 170
min_extrude_temp: 0			# ACHTUNG!!!
control: pid                # -> PID_CALIBRATE HEATER=extruder TARGET=210
pid_Kp: 22.0
pid_Ki: 1.08
pid_Kd: 114.0

# ---- Extruder 1 (rechtes Hotend, Heater H2, Drive 4) -----------------------
[extruder1]
step_pin: PD4             # STEP 68
dir_pin: PD9             # DIR 73   (M569 P4 S1)
enable_pin: !PC6
microsteps: 16
rotation_distance: 11.907  # M92 E4350 (dual) ~ 11.77 -> kalibrieren
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: !PA16           # HEAT_ON 16 (Heater 2) ock-inverted!
sensor_type: Generic 3950
sensor_pin: PC12           # TEMP_SENSE 44 (Thermistor 2)
min_temp: -200
max_temp: 350              # M143 H2 S310
#min_extrude_temp: 170
min_extrude_temp: 0			# ACHTUNG!!!
control: pid               # -> PID_CALIBRATE HEATER=extruder1 TARGET=210
pid_Kp: 22.0
pid_Ki: 1.08
pid_Kd: 114.0

# ============================================================================
#  THERMISTOREN  (Werte aus deiner config.g / M305; Serie 4700)
# ============================================================================
#  Hinweis: Pins_DuetNG.h-Defaults (BED 3988 / EXT 4388) weichen ab ->
#  massgeblich sind DEINE M305-Werte.

[thermistor Raise3D_E2]
temperature1: 25
resistance1: 100000
beta: 4138                 # M305 P1/P2 B4138