#####################################################################
# EXTRUDER LINKS (T0)
#####################################################################

[extruder]
step_pin: tool_left:gpio7
dir_pin: tool_left:gpio6
enable_pin: !tool_left:gpio14

microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 9.500        # HGX Lite

nozzle_diameter: 0.400
filament_diameter: 1.750

heater_pin: tool_left:gpio23

# Creality K1C Keramik-Hotend (Unicorn / Keramik-Heizblock)
# Verwendet typischerweise einen NTC 100k B3950 Thermistor
sensor_type: Generic 3950
sensor_pin: tool_left:gpio27
pullup_resistor: 4700

min_temp: -50
max_temp: 300
min_extrude_temp: 170

control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114.0

[tmc2209 extruder]
uart_pin: tool_left:gpio15
run_current: 0.7
sense_resistor: 0.110

#####################################################################
# EXTRUDER RECHTS (T1)
#####################################################################

[extruder1]
step_pin: tool_right:gpio7
dir_pin: tool_right:gpio6
enable_pin: !tool_right:gpio14

microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 9.500        # HGX Lite

nozzle_diameter: 0.400
filament_diameter: 1.750

heater_pin: tool_right:gpio23

# Creality K1C Keramik-Hotend (Unicorn / Keramik-Heizblock)
# Verwendet typischerweise einen NTC 100k B3950 Thermistor
sensor_type: Generic 3950
sensor_pin: tool_right:gpio27
pullup_resistor: 4700

min_temp: -50
max_temp: 300
min_extrude_temp: -50#170

control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114.0

[tmc2209 extruder1]
uart_pin: tool_right:gpio15
run_current: 0.7
sense_resistor: 0.110
