
#####################################################################
# HOTEND & PART COOLING FANS
#####################################################################

# Hotend Lüfter Links (T0)
[heater_fan hotend_fan_left]
pin: tool_left:gpio21
heater: extruder
heater_temp: 40.0

# Bauteillüfter Links (T0)
[fan]
pin: tool_left:gpio13

# Hotend Lüfter Rechts (T1)
[heater_fan hotend_fan_right]
pin: tool_right:gpio21
heater: extruder1
heater_temp: 40.0

# Bauteillüfter Rechts (T1)
[fan_generic partfan_right]
pin: tool_right:gpio13

