# ============================================================================
#  LUEFTER
# ============================================================================
#  COOLING_FAN_PINS = { 58, 55, 00, ... } -> Fan0=PC26, Fan1=PC23, Fan2=PA0
[fan]               	    # Bauteilluefter (M106 P0) = Fan0
pin: PC26                   # COOLING_FAN 58 = PC26
cycle_time: 0.002           # M106 F500 = 500 Hz

[fan_generic fan_e1]        # Bauteilluefter (M106 P0) = Fan1
pin: PC23                   # COOLING_FAN 58 = PC26
#cycle_time: 0.002           # M106 F500 = 500 Hz

[fan_generic exhaust_fan]   # Bauteilluefter (M106 P0) = Fan1
pin: !PA0                   # COOLING_FAN 00 = PA0
#cycle_time: 0.002
