#[gcode_macro LIGHT_ON]
#gcode:
#	SET_PIN PIN=chamber_light VALUE=1

#[gcode_macro LIGHT_OFF]
#gcode:
#	SET_PIN PIN=chamber_light VALUE=0

#[gcode_macro CHAMBER_LIGHT]
#description: Schaltet das Kameralicht ein, aus oder wechselt den Status
#gcode:
#  {% set mode = params.VALUE|default("TOGGLE")|upper %}
#  {% if mode == "ON" or mode == "1" %}
 #   SET_PIN PIN=chamber_light VALUE=1
 # {% elif mode == "OFF" or mode == "0" %}
 #   SET_PIN PIN=chamber_light VALUE=0
 # {% else %}
 #   {% set current = printer['output_pin chamber_light'].value %}
 #   SET_PIN PIN=chamber_light VALUE={0 if current > 0 else 1}
#  {% endif %}