# ============================================================================
#  FILAMENTSENSOREN  (M591 D0 C6 / D1 C7 -> Endstop-Input 6/7)
# ============================================================================
# --- EXTRUDER 0 (T0) ---

# Sensor 1: In der Filament Klappe
[filament_switch_sensor filament_entry_T0]
switch_pin: ^PE1
pause_on_runout: True
runout_gcode: PAUSE
insert_gcode: RESUME
extruder: extruder

# Sensor 2: Zusätzlicher Sensor (z. B. Verstopfung/Smart Sensor)
#[filament_switch_sensor filament_toolhead_T0]
#switch_pin: PE3  # Ein weiterer freier Pin am Hauptboard
#pause_on_runout: True
#runout_gcode: PAUSE
#insert_gcode: RESUME
#extruder: extruder


# --- EXTRUDER 1 (T1) ---

# Sensor 1: In der Filament Klappe
[filament_switch_sensor filament_entry_T1]
switch_pin: ^PE2
pause_on_runout: True
runout_gcode: PAUSE
insert_gcode: RESUME
extruder: extruder1
 
# Sensor 2: Zusätzlicher Sensor
#[filament_switch_sensor filament_toolhead_T1]
#switch_pin: PE4  # Ein weiterer freier Pin am Hauptboard
#pause_on_runout: True
#runout_gcode: PAUSE
#insert_gcode: RESUME
#extruder: extruder1