# ============================================================================
#  TMC2660-TREIBER  (SPI ueber USART1)  -  Stroeme aus M906
# ============================================================================
#  CS-Pins = "EN"-Array aus Pins_DuetNG.h (bei TMC2660 = SPI-CS je Treiber).
#  run_current(RMS) ~= M906(mA) / 1.414 ; sense_resistor Duet2 = 0.051
[tmc2660 stepper_x]
cs_pin: PD14               # ENABLE_PINS[0] 78 = PD14
spi_bus: usart1
spi_speed: 2000000
run_current: 0.64          # M906 X900
sense_resistor: 0.051

[tmc2660 stepper_y]
cs_pin: PC9                # ENABLE_PINS[1] 41 = PC9
spi_bus: usart1
spi_speed: 2000000
run_current: 0.64          # M906 Y900-
sense_resistor: 0.051

[tmc2660 stepper_z]
cs_pin: PC10               # ENABLE_PINS[2] 42 = PC10
spi_bus: usart1
spi_speed: 2000000
run_current: 0.64          # M906 Z900
sense_resistor: 0.051

[tmc2660 extruder]
cs_pin: PC17               # ENABLE_PINS[3] 49 = PC17
spi_bus: usart1
spi_speed: 2000000
run_current: 0.56          # M906 E800
sense_resistor: 0.051

[tmc2660 extruder1]
cs_pin: PC25               # ENABLE_PINS[4] 57 = PC25
spi_bus: usart1
spi_speed: 2000000
run_current: 0.56          # M906 E800
sense_resistor: 0.051

[tmc2660 dual_carriage]
cs_pin: PD23               # ENABLE_PINS[5] 87 = PD23
spi_bus: usart1
spi_speed: 2000000
run_current: 0.64          # M906 U900
sense_resistor: 0.051