#####################################################################
# TOOLBOARD RECHTS (T1)
#####################################################################

[mcu tool_right]
serial: /dev/serial/by-path/platform-20980000.usb-usb-0:1.2:1.0-port0
baud: 250000
restart_method: command

[temperature_sensor tool_right_mcu]
sensor_type: temperature_mcu
sensor_mcu: tool_right

#####################################################################
# Beschleunigungssensor (rechts)
#####################################################################
[lis2dw t1]
cs_pin: tool_right:gpio12
spi_bus: spi0_gpio4_gpio3_gpio2