#####################################################################
# TOOLBOARD LINKS (T0)
#####################################################################

[mcu tool_left]
serial: /dev/serial/by-path/platform-20980000.usb-usb-0:1.1:1.0-port0
baud: 250000
restart_method: command

[temperature_sensor tool_left_mcu]
sensor_type: temperature_mcu
sensor_mcu: tool_left

#####################################################################
# LDC1612 PROBE (LINKS)
#####################################################################
[probe_eddy_current fly_probe]
sensor_type: ldc1612
i2c_mcu: tool_left
i2c_bus: i2c1e
x_offset: 0
y_offset: 0
speed: 5
lift_speed: 15
descend_z: 2

#####################################################################
# Beschleunigungssensor (LINKS)
#####################################################################
[lis2dw]
cs_pin: tool_left:gpio12
spi_bus: spi0_gpio4_gpio3_gpio2

[resonance_tester]
accel_chip: lis2dw
probe_points: 150, 150, 20  # Passe x, y, z an die Mitte deines Druckbetts an
